/* Global styles */

/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */


h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for article */



#article-list table {
        border-collapse: collapse;
}

#article-list table tr td {
        padding: 5px;
        vertical-align: top;
}

#article-list .list-title{
	font-weight: bold;
}

#article-list .list-image {
  width:        60px;
  height:       70px;
}

#article-list .list-description {
  width:        60%;
}

#article-list .list-description dl {
        margin: 0;
}

#article-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#article-list .list-description dd {
        margin: 0;
}

#article-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#article-list .list-line-even {
  background:   #e0f8f8;
}

#article-list .list-line-odd {
  background:   #f8b0f8;
}

/* START:mainlayout */


/* Styles for main page */

#banner {
  background: #8F00FF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #141;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #141;
  color: #fff;
}

#side a {
  color: #ffb;
  font-size: small;
}

#menu-admin {
	background-color:green;
	
}
/* END:mainlayout */



/* START:inline */
#store .entry form, #store .entry form div {
  display: inline;
}
/* END:inline */



/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.img_articolo
{
	border: 1px solid #000;
}
