<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
						"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
	<title>Aclifirenze</title>
	<%= stylesheet_link_tag "aclifirenze" , :media => "all" %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="container">
	<div id="header">
			<%= image_tag("http://www.alicubi.it/User/img/logo_acli.gif" ) %>
			<%= image_tag("acliheader.jpg") %>
	</div>
	<div id="banner">
		<%= @page_title || session[:society] %>
	</div>
	<div id="columns">
		<div id="side">
			<%= @current_time %><br /><br/>
			<%= link_to 'Home', :controller=>'home'%><br />
			<br />
			<div id="menu-admin">
				<% if session[:user_id]==nil %>
				<%= link_to 'Login', :controller=>:admin, :action=>'login'%><br/>
				<% end %>	
				<% if session[:user_id] %>
				<br/>			
				<% if @user.admin=="si" %>
					<%= link_to 'Circoli', :controller=>:societies, :action=>:index %> 
					<br/>
					<%= link_to 'Utenti', :controller=>:users, :action=>:index %> 
					<br/>
				<% end %>	
					<%= link_to 'Avvisi', :controller=>:reports, :action=>:index %> 
					<br/>
					<%= link_to 'Eventi', :controller=>:articles, :action=>:index %> 
					<br/><br/>
					<%= link_to 'Logout', :controller=>:admin, :action=>:logout %>
					<br/>
				<% end%>
			</div>
		</div>
		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>

			<%= yield :layout %>
		</div>
	</div>
</body>
</html>

